.reveal pre code {
    max-height: 100%;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
}

.reveal {
    font-family: Arial, Helvetica, sans-serif;
}

.reveal blockquote {
    background: #ccc;
}
